            <div  class="card-body p-4">
                
              <div class="d-flex flex-start w-100">
                
                <div class="w-100">
                  <h5>Add a comment</h5>
                  <ul class="rating mb-3" data-mdb-toggle="rating">
                    <li>
                      <i class="far fa-star fa-sm text-danger" title="Bad"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-danger" title="Poor"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-danger" title="OK"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-danger" title="Good"></i>
                    </li>
                    <li>
                      <i class="far fa-star fa-sm text-danger" title="Excellent"></i>
                    </li>
                  </ul>
                  <div class="form-outline">
                    <textarea class="form-control"  id="textAreaExample" rows="4"> </textarea>
                    <label class="form-label" for="textAreaExample"></label>
                  </div>
                  <div class="d-flex justify-content-between mt-3">
                    <button type="button" class="btn btn-success" (click)="sendMail()">Send</button>
                    <button type="button" class="btn btn-danger">
                      Close  <i class="fas fa-long-arrow-alt-right ms-1"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
      
