
<div style="margin-left: 20%; margin-top: 5%;">
    <div style="display: inline-block;">
        <img src="assets\password_reset.png" class="img-fluid" alt="Sample image" width="70%" height="70%">

    </div>
    <div style="display: inline-block; ">
        
        <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
                <input type="password" id="password" [(ngModel)]="pass" class="form-control"  name="Password"   /> <!--[(ngModel)]="admin.password"-->
                <label class="form-label" for="password">Password</label>
            </div>
        </div>
        
        <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
                <input type="password" id="rpass" [(ngModel)]="repeatPass" class="form-control" (keypress)="chan()" (keyup)="chan()" (keydown)="chan()" required/>
                <label class="form-label" for="rpass">Repeat your password</label>
                <p style="color: red; " id="err">{{allertMewssage}}</p>
            </div>
        </div>
        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <input type="submit" (click)="setPassword()" class="btn btn-primary btn-lg" id="reg" value="Set password">
        </div>
    </div>
</div>