t<div class="container pt-3 pb-3">
  <div class="input-group mb-3">
    <div class="input-group-prepend">

    <label class="mr-3 mt-2">Opcije za pretragu:</label>
      <select id="options"  class="btn btn-outline-secondary dropdown-toggle text-gray mr-3" aria-label=".form-select-lg example" >
      <option selected>Naziv</option>
      <option value="Grad">Grad</option>
      <option value="Prosecna ocena">Prosecna ocena</option>

    </select>

    <select id="sortOptions"  class="btn btn-outline-secondary dropdown-toggle text-gray mr-3" aria-label=".form-select-lg example" >
      <option selected>Rastuci</option>
      <option value="Opadajuci">Opadajuci</option>
      </select>


  </div>

    <input type="text" name="searchBox" id="searchh" class="form-control" placeholder="Pretraga">

    <button class="btn btn-outline-primary ml-3 text-gray" id="sortBtn">Sortiraj</button>

    <button type="submit" class="btn btn-outline-primary ml-3 text-gray" id="searchBtn">Pretrazi</button>


</div>

</div>

<div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>

<div class="container">
  <div class="table-header">
      <p class="table-title">Blood Banks</p>
  </div>
  <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Number </th>
          <td mat-cell *matCellDef="let bloodBank">{{bloodBank.name}}</td>
      </ng-container>
      <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef > City </th>
          <td mat-cell *matCellDef="let bloodBank">{{bloodBank.address.city}}</td>
      </ng-container>
      <ng-container matColumnDef="avg grade">
        <th mat-header-cell *matHeaderCellDef > Avg grade </th>
        <td mat-cell *matCellDef="let bloodBank">{{bloodBank.avgGrade}}</td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

