.dailyContainer {
    margin-top: 2%;
  }
  
  .customFreq {
    margin-left: auto; 
    margin-right: 0;
  }
  
  .customperiod {
    margin-left: auto; 
    margin-right: 0;
  }
  
  .stepHolder {
    margin-top: 20%;
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  
  .buttonsPeriod {
    margin-top: 7%;
  }
  

  
  .button label,
  .button input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .button input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
  }
  
  .button input[type="radio"]:checked + label {
    background: #20b8be;
    border-radius: 4px;
  }
  
  .button label {
    cursor: pointer;
    z-index: 90;
    line-height: 1.8em;
  }
  
  .radio-toolbar {
    margin: 10px;
  }
  
  .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .radio-toolbar label {
      display: inline-block;
      background-color: #ddd;
      padding: 10px 20px;
      font-family: sans-serif, Arial;
      font-size: 16px;
      border: 2px solid #444;
      border-radius: 4px;
  }
  
  .radio-toolbar label:hover {
    background-color: #dfd;
  }
  
  .radio-toolbar input[type="radio"]:focus + label {
      border: 2px dashed #444;
  }
  
  .radio-toolbar input[type="radio"]:checked + label {
      background-color: #bfb;
      border-color: #4c4;
  }
  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }


  .table-title {
    padding-bottom: 60px;
    padding-top: 60px;
    padding-left: 60px;
    font-size: 60px;

}

.cell-center {
    text-align: center;
}

.clickable:hover {
    font-weight: bold;
    cursor: pointer;
}


.table-header {
    display: flex;
}

.container {
    margin: auto;

}