
<div class="container my-3">
  
  <button id="donnorButt" class="btn btn-outline-primary ml-3 me-3 border" mat-button (click)="clickedDonnors(); showDiv.donorsBool=true; showDiv.medicalWorkersBool=false; showDiv.adminsBool=false;" >Donnors</button>
  <button id="medWorkButt" class="btn btn-outline-primary ml-3 me-3 border" (click)="clickedMedicalWorkers(); showDiv.donorsBool=false; showDiv.medicalWorkersBool=true; showDiv.adminsBool=false;" mat-button>Medical workers</button>
  <button id="adminButt" class="btn btn-outline-primary ml-3  border" mat-button (click)="clickedMedicalWorkers(); showDiv.donorsBool=false; showDiv.medicalWorkersBool=false; showDiv.adminsBool=true;" >Administrators</button>
  
  <div style="display: inline-block; margin-left: 50%;">
    <div class="input-group">
      <div class="form-outline">
          <input id="search-focus" [(ngModel)]="filteredString" placeholder="Search..." id="form1" class="form-control" />

      </div>
    </div>
    

  </div>

</div>
<br>
<br>
<div *ngIf="showDiv.medicalWorkersBool">
  <div class="container">
    <div fxLayout="row wrap space-evenly" fxLayoutGap="15px grid">
      <div  fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let medicalWorker of medicalWorkers | searchFilter:filteredString">
        <mat-card  class="mat-elevation-z19 border align card-background" >
          <mat-card-title class="text-center fs-5 fw-bold">{{medicalWorker.name}} {{medicalWorker.surname}} </mat-card-title>
            <mat-card-content>
               <p>
                <mat-card-content>{{medicalWorker.email}}</mat-card-content>
                <mat-card-content>{{medicalWorker.password}}</mat-card-content>
                <br>
               <mat-card-content>{{medicalWorker.address.city}},{{medicalWorker.address.street}} {{medicalWorker.address.number}}</mat-card-content>
                <mat-card-content>{{medicalWorker.gender}}</mat-card-content>
              </p>          
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showDiv.donorsBool">
  <div class="container">
    <div fxLayout="row wrap space-evenly" fxLayoutGap="15px grid">
      <div fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let donor of donors | searchFilter:filteredString">
        <mat-card *ngIf="donor.category == 'GOLD'" class="mat-elevation-z19 border align card-background" style="background: #FFED8A;">
          <mat-card-title class="text-center fs-5 fw-bold">{{donor.name}} {{donor.surname}} </mat-card-title>
            <mat-card-content>
              <p>
                <mat-card-content>{{donor.email}}</mat-card-content>
                <mat-card-content>{{donor.password}}</mat-card-content>
                <mat-card-content>points: {{donor.points}}</mat-card-content>
                <mat-card-content>{{donor.bloodType}}</mat-card-content>
                
                <br>
                <mat-card-content>{{donor.address.city}},{{donor.address.street}} {{donor.address.number}}</mat-card-content>
                <mat-card-content>{{donor.gender}}</mat-card-content>
              </p>          
          </mat-card-content>   
        </mat-card>

        <mat-card *ngIf="donor.category == 'SILVER'" class="mat-elevation-z19 border align card-background" style="background: #C0C0C0;">
          <mat-card-title class="text-center fs-5 fw-bold">{{donor.name}} {{donor.surname}} </mat-card-title>
            <mat-card-content>
              <p>
                <mat-card-content>{{donor.email}}</mat-card-content>
                <mat-card-content>{{donor.password}}</mat-card-content>
                <mat-card-content>points: {{donor.points}}</mat-card-content>
                <mat-card-content>{{donor.bloodType}}</mat-card-content>
                
                <br>
                <mat-card-content>{{donor.address.city}},{{donor.address.street}} {{donor.address.number}}</mat-card-content>
                <mat-card-content>{{donor.gender}}</mat-card-content>
              </p>          
          </mat-card-content>   
        </mat-card>

        <mat-card *ngIf="donor.category == 'REGULAR'" class="mat-elevation-z19 border align card-background" style="background: #E26868;">
          <mat-card-title class="text-center fs-5 fw-bold">{{donor.name}} {{donor.surname}} </mat-card-title>
            <mat-card-content>
              <p>
                <mat-card-content>{{donor.email}}</mat-card-content>
                <mat-card-content>{{donor.password}}</mat-card-content>
                <mat-card-content>points: {{donor.points}}</mat-card-content>
                <mat-card-content>{{donor.bloodType}}</mat-card-content>
                
                <br>
                <mat-card-content>{{donor.address.city}},{{donor.address.street}} {{donor.address.number}}</mat-card-content>
                <mat-card-content>{{donor.gender}}</mat-card-content>
              </p>          
          </mat-card-content>   
        </mat-card>
        
      </div>
    </div>
  </div>
</div>

<div *ngIf="showDiv.adminsBool">
  <div class="container">
    <div fxLayout="row wrap space-evenly" fxLayoutGap="15px grid">
      <div fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let admin of admins | searchFilter:filteredString">
        <mat-card  class="mat-elevation-z19 border align card-background">
          <mat-card-title class="text-center fs-5 fw-bold"> {{admin.name}} {{admin.surname}} </mat-card-title>
            <mat-card-content>
              <p>
                <mat-card-content>{{admin.email}}</mat-card-content>
                <mat-card-content>{{admin.password}}</mat-card-content>
                <br>
                <mat-card-content>{{admin.address.city}},{{admin.address.street}} {{admin.address.number}}</mat-card-content>
                <mat-card-content>{{admin.gender}}</mat-card-content>
              </p>          
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>