
th.mat-sort-header-sorted {
    color: black;
  }
  
  .center {
    display: flex;
    justify-content: center;
    }
  
    mat-toolbar {
      justify-content: space-between;
  }
  
  .content {
      padding: 16px;
  }
  
  .content > mat-card {
      margin-bottom: 16px;
  }
  
  .align{
    width: 350px;
    align-items: center;
    padding-left: 50px;
  }
  
  .card-background{
    background-color: #EDEDED;
  }
  
.container my-3{
  margin: 3%;
}
  
  
  
  