<h1>Schedule an appointment</h1>
<form (submit)="ScheduleApp1()">
    <label for="date">Pick a date</label>
    <input type="date" class="form-control" style="width: 35%" id="date" name="date" [(ngModel)]="date">
    <label for="time" style="margin-top: 5px;">Pick a start time</label>
    <input type="time" class="form-control" style="width: 35%;" id="time" name="time" [(ngModel)]="startTime">
    <input type="submit" class="form-control" value="Schedule" style="width: 20%; margin-top: 10px;">
</form>