<div mat-dialog-content>
  <form>
      <div class="mb-3">
        <label>1.Have you ever voluntarily donated blood?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="survey.answer1" name="firstQuestion" value="yes">
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="survey.answer1" name="firstQuestion" value="no">
          <label class="form-check-label">No</label>
        </div>

        <label>2.Did you eat anything before coming to donate blood?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="survey.answer2" name="secondQuestion" value="yes">
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="survey.answer2" name="secondQuestion" value="no">
          <label class="form-check-label">No</label>
        </div>

        <label>3.Do you take any medications?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="survey.answer3" name="thirdQuestion" value="yes">
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="survey.answer3" name="thirdQuestion" value="no">
          <label class="form-check-label">No</label>
        </div>

        <label>4.Have you ever been treated for epilepsy, diabetes, asthma, tuberculosis, heart attack, stroke?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="survey.answer4" name="fourthQuestion" value="yes">
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="survey.answer4" name="fourthQuestion" value="no">
          <label class="form-check-label">No</label>
        </div>

        <label>5.Have you drunk alcohol in the last 6 hours?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="survey.answer5" name="fifthQuestion" value="yes">
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="survey.answer5" name="fifthQuestion" value="no">
          <label class="form-check-label">No</label>
        </div>

        <label>6.Do you use drugs?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="survey.answer6" name="sixthQuestion" value="yes">
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="survey.answer6" name="sixthQuestion" value="no">
          <label class="form-check-label">No</label>
        </div>

        <label>7.Do you suffer from any chronic disease?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="survey.answer7" name="seventhQuestion" value="yes">
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="survey.answer7" name="seventhQuestion" value="no">
          <label class="form-check-label">No</label>
        </div>

        <label>8.Are you allergic to any medicine?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="survey.answer8" name="eighthQuestion" value="yes">
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="survey.answer8" name="eighthQuestion" value="no">
          <label class="form-check-label">No</label>
        </div>

        <label>9.Have you received any vaccine or serum in the past 12 months?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="survey.answer9" name="ninethQuestion" value="yes">
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="survey.answer9" name="ninethQuestion" value="no">
          <label class="form-check-label">No</label>
        </div>

        <label>10.Have you had a tooth extracted in the last 7 days?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="survey.answer10" name="tenthQuestion" value="yes">
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="survey.answer10" name="tenthQuestion" value="no">
          <label class="form-check-label">No</label>
        </div>
    </div>
      <button class="submit" id="crsurvey" (click)="createSurvey()">Send</button>
  </form>
</div>
